*{
    padding: 0px;
    margin: 0px;
}
nav {
    color: white;
    width: 90%;
    padding-top: 20px;
    text-align: center;
}
nav h4 {
    float: left;
    padding-left: 10%;
    filter: opacity(1);
}
.navul {
    list-style: none;
    text-decoration: none;
    float: right;
}
nav li {
    display: inline-block;
    cursor: pointer;
}
nav a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 20px;
}
.slika {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
    filter: opacity(0.7);
    position: relative;
}
.textonpic {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 35%;
    color: white;
    filter: none;
    
}
.textonpic, h1, p, button {
    margin-top: 20px;
}
.textonpic button {
    background-color: rgb(55, 160, 243);
    padding: 10px 30px;
    cursor: pointer;
    color: white;
}
.somework {
    padding: 70px 0;
}
.somework, h2, p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.somework p {
    border-bottom: 1px solid rgb(55, 160, 243);
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.pic1  {
    background-image: url(../img/coast.jpg);
    width: 30%;
    height: 200px;
    background-size: cover;
}
.pic2 {
    background-image: url(../img/island.jpg);
    width: 60%;
    height: 200px;
    background-size: cover;
}
.pic3 {
    background-image: url(../img/balloon.jpg);
    width: 60%;
    height: 200px;
    background-size: cover;
}
.pic4 {
    background-image: url(../img/mountain.jpg);
    width: 30%;
    height: 200px;
    background-size: cover;
}

.threeicons {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.threeicons .fa {
    font-size: 64px;
    color: rgb(55, 160, 243);
}
.threeicons, h3, p {
    text-align: center;
    padding: 10px;
}

form, input, button {
    text-align: center;
    margin-bottom: 30px;
}
input {
    width: 20%;
    height: 40px;
}
.button2 {
    padding: 12px 35px;
    background-color: rgb(55, 160, 243);
    color: white;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: rgb(65, 74, 79);
    color: white;
}
.icons i {
    font-size: xx-large;
    padding: 5px;
}
.footerp {
    width: 45%; 
    text-align: justify;
    text-align: center;
    
}

@media (max-width: 425px) {
    nav h4 {
        float: none;
        text-align: center;
        padding-left: 0;
    }
    .navul {
        list-style: none;
        text-decoration: none;
        float: none;
    }
    nav a {

        padding: 5px;
        text-align: center;
    }
    .somework {
        padding: 70px 0;
    }
    .somework, h2, p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        
    }
    .row1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .row2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 0px;
        
    }
    .pic1  {
        background-image: url(../img/coast.jpg);
        width: 80%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .pic2 {
        background-image: url(../img/island.jpg);
        width: 80%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    .pic3 {
        background-image: url(../img/balloon.jpg);
        width: 80%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    .pic4 {
        background-image: url(../img/mountain.jpg);
        width: 80%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    .threeicons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        
    }
    .threeicons i {
        margin-top: 30px;
    }
    form, input, button {
        text-align: center;
        margin-bottom: 10px;
    }
    input {
        width: 80%;
        height: 40px;
    }
    .button2 {
        padding: 12px 35px;
        font-size: large;
        background-color: rgb(55, 160, 243);
    }
    .footerp {
        width: 85%; 
        text-align: justify;
        text-align: center;
        
    }
    
}
@media (max-width: 850px) {
 
    .row1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .row2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 0px;
        
    }
    .pic1  {
        background-image: url(../img/coast.jpg);
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .pic2 {
        background-image: url(../img/island.jpg);
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    .pic3 {
        background-image: url(../img/balloon.jpg);
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    .pic4 {
        background-image: url(../img/mountain.jpg);
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }   
    .threeicons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        
    }
    .threeicons i {
        margin-top: 30px;
    }
    form, input, button {
        text-align: center;
        margin-bottom: 10px;
    }
    input {
        width: 70%;
        height: 40px;
    }
    .button2 {
        padding: 12px 35px;
        font-size: large;
        background-color: rgb(55, 160, 243);
    }
    .footerp {
        width: 85%; 
        text-align: justify;
        text-align: center;
        
    }
    
}